.profile-contents{
    width: 70vw;
    height: 70vh;
    backdrop-filter: blur(20px);
    border:2px solid rgba(108, 92, 231, 0.3);
    display: flex;
    gap:30px;
    align-items: center;
    padding: 20px 50px;
    color:white;
    justify-content: space-between;
}
.profile-content{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:20px;
    box-shadow:2px 2px 5px #171420;
    padding: 10px 25px;
}
.profile-logo-container{
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.profile-logo-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-update-btn{
    background: linear-gradient(rgb(52, 3, 52),rgb(203, 66, 203));
    color:white;
    padding: 13px 20px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    width: 73%;

}
.profile-bio{
    padding: 10px;
    border:1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    background-color: transparent;
    color:white;

}
.profile-name{
    padding: 10px;
    border:1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    background-color: transparent;
    color:white;

}
.img-input-label{
    display: flex;
    gap: 15px;
    align-items: center;
}
.profile-pic-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.profile-pic-changed{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

@media (max-width:770px){
    .profile-logo-container img{
        display: none;
    }
    .profile-content{
    min-width: 100%;
    }
    .profile-bio{
        padding: 20px;
    }
}